
!.vscode/extensions.json
!*.example
!*.sample
.DS_Store
.env
.env.*
.env.development
.env.development.local
.env.local
.env.production
.env.production.local
.env.test
.env.test.local
.idea
.vercel
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
# === env files (managed by clean-envs.sh) ===
# Editor directories and files
# Logs
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
!.env.example
